body {
  font-family: 'Montserrat', sans-serif;
}
.box {
  background-color: grey;
  width: 25%;
  border: 0;
  display: inline-block;
  padding: 10px;
}

.image {
  border-radius: 50%;
  border: 5px solid #3BB9FF;
  margin-bottom: 50px;
  position: relative;
  left: 60px;
}

.box2 {
  background-color: white;
  display: inline-block;
  border: 0;
  width: 75%;
  position: absolute;
  left: 26%;
  padding: 10px;
}

h3 {
  background-color: #3BB9FF;
  border-style: outset;
  margin-right: 60px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5px;
  color: white;
}

p {
  margin-right: 50px;
}

.u1 {
  margin-right: 90px;
  align-content: flex-start;
}

.C1 {
  margin-top: 0;
  padding: 5px;
}

.contact {
  width: 9%;
  height: 9%;
}
