body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.box {
  background-color: #25383C;
  width: 25%;
  border: 0;
  display: inline-block;
  padding-left: 0;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 500px;
}

.image {
  border-radius: 50%;
  border: 5px solid #3BB9FF;
  margin-bottom: 50px;
  position: relative;
  left: 60px;
}

.box2 {
  background-color: white;
  display: inline-block;
  border: 0;
  width: 75%;
  position: absolute;
  left: 26%;
  padding: 10px 10px 10px 0;
  margin-left: 0;
}

.h3-box2 {
  background-color: #3BB9FF;
  border-style: outset;
  margin-right: 60px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5px;
  color: white;
}

.h3-box {
  background-color: #3BB9FF;
  border-style: outset;
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-left: 0;
}

p {
  margin-right: 60px;
  margin-left: 20px;
}

.u1 {
  margin-right: 90px;
  align-content: flex-start;
}

.C1 {
  margin: 0 5px;
  padding: 5px;
}

.image-size {
  width: 9%;
  height: 9%;
  margin-left: 10px;
}
