
.box {
  background-color: grey;
  width: 25%;
  border: 0;
  display: inline-block;
}

.image {
  border-radius: 50%;
  border: 5px solid blue;
}

.box2 {
  background-color: white;
  display: inline-block;
  border: 0;
  width: 75%;
  position: absolute;
  left: 26%;
}

h3 {
  background-color: blue;
  border-style: outset;
}
